{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/form-service.css') }}">{% endblock %}

{% block title %}Ajouter un service{% endblock %}

{% block body %}
	<div class="div-form">
	    <h1>Ajouter un service</h1>
	    {{ include('service_type/_form.html.twig', {form: new_form, action: 'Ajouter'}) }}
	    <a class="btn btn-primary back" href="{{ path('app_servicetype_index') }}">
	    	Annuler
	    	<img class="back-img" src="/assets/images/icones/ddlvry-grphcs-retour.svg" alt="back" width="41" height="41">
	    </a>
    </div>
{% endblock %}