{% block body %}
    <h1>Page introuvable</h1>

    <p>
        la page n'a pas pu se charger. L'URL demandée n'a pas pu être trouvée.
        <a href="{{ path('app_products_index') }}">retour à la page d'acceuil</a>.
    </p>
{% endblock %}