.desc, .price, .products, .buttons {
	text-align: center;
	margin-right: 15%;
	margin-left: 15%;
}

.table {
	margin-left: 10%;
	width: 80%;
}

.delete-img, .edit-img, .back-img {
	margin: -3%;
	margin-right: -5%;
}

.back {
	padding: 0.22rem;
}

.edit {
	padding: 0.34rem;
}

.delete {
	padding: 0.38rem;
}

.back, .edit, .delete {
	margin-bottom: 2%;
}