{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="h1 formTitle">{{ "Recap de la commande " ~ order.orderRef }}</h1>
    <table class="table table-dark tabCustom">
        <tr>
            <th>
                Id
            </th>
        </tr>
        <tr>
            <td>
                {{ order.id }}
            </td>
        </tr>
        <tr>
            <th>
                Status
            </th>
        </tr>
        <tr>
            <td>
                {{ order.orderStatus }}
            </td>
        </tr>
    </table>
    <a href="{{ path('app_orders_cancellation', {'id': order.id}) }}"><button class="btn btn-primary">Annuler</button></a>
{% endblock %}

