{% extends 'base.html.twig' %}

{% block title %}Ajout d'un utilisateur{% endblock %}

{% block body %}
    <h1 class="h1 formTitle">Création de compte</h1>
    {{ include('user/_form.html.twig', {form: new_form, action: 'Ajouter'}) }}
{% endblock %}
